name: OWASP ZAP Scan

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  zap_scan:
    runs-on: ubuntu-latest

    name: Scan the web application
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: ZAP scan 
        uses: zaproxy/action-baseline@v0.6.1
        with:
          docker_name: 'owasp/zap2docker-stable'
          target: 'https://online-shop-php.000webhostapp.com'
          rules_file_name: '.zap/rules.tsv'
          cmd_options: '-a'
          
